# プロジェクトの依存関係やビルドによって生成されるファイルやディレクトリを無視します。

# Composer によって生成されるディレクトリ
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# 依存関係やビルド生成物
/node_modules/
/build/

# ビルド結果やキャッシュファイル
/db/
.cache/

# 環境固有の設定ファイル
.env

# ログファイルや一時ファイル
*.log

# バックアップファイル
*.bak
*.swp